<ion-app>

  <ion-menu side="end" contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Menü</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon slot="start" name=""></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>

        <ion-item *ngIf="!isLoggedIn" button (click)="openAuthModal()">
          <ion-icon slot="start" name=""></ion-icon>
          <ion-label>Login/Registrieren</ion-label>
        </ion-item>

        <ion-item routerLink="/quiz">
          <ion-icon slot="start" name=""></ion-icon>
          <ion-label>Quiz</ion-label>
        </ion-item>

        <ion-item routerLink="/create-quiz">
          <ion-icon slot="start" name=""></ion-icon>
          <ion-label>Quiz erstellen</ion-label>
        </ion-item>

        <ion-item routerLink="/highscore">
          <ion-icon slot="start" name=""></ion-icon>
          <ion-label>Highscore</ion-label>    
        </ion-item>

        <ion-item *ngIf="isLoggedIn" button (click)="logout()">
          <ion-icon slot="start" name=""></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">DevQuiz</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>