<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="margin-top:50px">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Willkommen bei DevQuiz</ion-card-title>
      <ion-card-subtitle>Teste dein IT-Wissen</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Diese App ist dein persönliches Quiz-Tool für alle IT-Themen. Egal ob Anfänger oder Profi – hier kannst du dein Wissen testen, eigene Fragen erstellen und dich mit anderen messen.
    </ion-card-content>
  </ion-card>

  <ion-card>
  <ion-list>
    <ion-list-header>
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label>Schnell Zugriff:</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      <ion-button fill="clear" style="color: black" [routerLink]="['/quiz']">Fragen zu IT, Web & Programmierung</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      <ion-button fill="clear" style="color: black" [routerLink]="['/create-quiz']">Eigene Quizfragen erstellen</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
      <ion-button fill="clear" style="color: black" [routerLink]="['/highscore']">Highscore & Punkte sammeln</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="videocam-outline" slot="start"></ion-icon>
      <ion-button fill="clear" style="color: black" [routerLink]="['/highscore']">YouTube-Tutorials in Fragen</ion-button>
    </ion-item>
  </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hinweis 💡</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Wenn du deinen Fortschritt speichern willst und deinen Highscore mit anderen vergleichen willst dann Erstelle einen Account und melde dich vor dem Quiz an!
    </ion-card-content>
    <div style="display: flex; width: 100%;">
      <ion-button style="flex: 3;" color="medium" (click)="openAuthModal('login')">Einloggen</ion-button>
      <ion-button style="flex: 3;" color="success" (click)="openAuthModal('register')">Registrieren</ion-button>
    </div>
  </ion-card>
</ion-content>
