<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hello World!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Status screen-->
  <ion-card>
    <ion-card-content class="status-content">
      <div>❤️ <strong>Lives:</strong> {{ lives }}</div>
      <div>🏆 <strong>Score:</strong> {{ score }}</div>
    </ion-card-content>
  </ion-card>

  <!-- Question screen -->
  <ion-card *ngIf="question">
    <ion-card-content>

      <!-- Current Hello World Code-->
      <pre><code>{{question.snippet}}</code></pre>

      <!-- Answer options (disabled after answering) -->
      <div class="options-grid">
        <ion-button
          *ngFor="let opt of question.options"
          [color]="getButtonColor(opt)"
          (click)="submitAnswer(opt)"
          [disabled]="correctAnswer"
          > {{opt.name}}
        </ion-button>
      </div>

      <!-- Show correct answer and next button -->
      <div *ngIf="correctAnswer &&  !gameOver">
        <ion-button (click)="next()">next one</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Game over screen -->
  <ion-card *ngIf="gameOver">
    <ion-card-header>
      <ion-card-title>Game Over</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="restart()">Play again</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
