.quiz-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding-bottom: 20px;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-info {
  display: flex;
  gap: 8px;         // Abstand zwischen den Elementen
  align-items: center;
  flex-wrap: wrap;  // optional: erlaubt Umbruch auf kleineren Bildschirmen
}