<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="quiz-grid">
    <ion-card *ngFor="let quiz of quizzes">
      <ion-card-header>
        <ion-card-title>{{ quiz.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="quiz-info">  
          <p>{{ quiz.questions.length }} Fragen</p>
          <p *ngIf="quiz.demo" style="display: inline; margin-left: 8px">🔓 Demo</p>
        </div>
        <ion-button *ngIf="quiz.demo && !isLoggedIn" expand="block" (click)="openQuiz(quiz.id)">Demo starten</ion-button>
        <ion-button *ngIf="isLoggedIn && !adminMode" expand="block" (click)="openQuiz(quiz.id)">Starten</ion-button>
        <div *ngIf="adminMode" style="display: flex; width: 100%;">
          <ion-button *ngIf="isLoggedIn" style="flex: 9;" expand="block" (click)="openQuiz(quiz.id)">Starten</ion-button>
          <ion-button *ngIf="adminMode && quiz.id > 5" style="flex: 1;" color="danger" size="small" (click)="deleteQuiz(quiz.id)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
